
  
  .form-rhf {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .p-rhf {
    color: #dd5283;
  }
  
  .p-rhf::before {
    display: inline;
    content: "⚠ ";
  }
  
  .input-rhf {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .label-rhf {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  
  .input-rhf[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  .input-rhf[type="submit"]:hover {
    background: #bf1650;
  }
  
  .input-rhf[type="button"]:active,
  .input-rhf[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  .input-rhf:disabled {
    opacity: 0.4;
  }
  
  .input-rhf[type="button"]:hover {
    transition: 0.3s all;
  }
  
  .input-rhf[type="button"],
  .input-rhf[type="submit"] {
    -webkit-appearance: none;
  }
  
  
  